/* tweetimizi ikiye böldük bunlara isim verdik avatar ve body olarak ve avatar 80 px body esnek  ne kadar gelirse o kadar açılır */
/*istersek at tanımlamayabilirdik ama alanı net bell olsun diye verdik */
/* grid-gap her iki alan arasında boşluğu ifade eder */
/* padding: 10px 20px;   demek 10 px aşağıdan yukarıdan 20 px sağdan soldan demektir */
.tweet {
  display: grid;
  grid-template-areas:"avatar body";
  grid-template-columns: 50px 1fr ;
  grid-gap: 15px;
  padding:12px 15px;
  border-bottom: 1px solid var(--c-border-color);
}

/* avatar senin ismin olsun */
.avatar{
    grid-area:avatar;
}
/* body senin olsun dedik */
.body{
    grid-area: body;
}
.header {
    color: var(--c-gray);
}
.name{
    color: var(--c-text-color);
    font-weight: bold;
}
/* tweetlerdeki boşlukları da dikkate al  */
.content {
    margin-top:5px;
    margin-bottom:5px;
     
    white-space:pre-wrap;
}
/* footer içindeki elemanları yatayda hizala */
.footer {
    display: flex;
    align-items: center;
}
/* footerButton ları kaç tane varsa eşit parçaya ayır 4 ise dört eşit yatay da 5 ise 5 eşit parçaya yatayda */
/* foooterbutton ın direk altındaki spana mevcut size in 0.9 ini verelim biraz küçültelim */
/* footerbutton altındaki :first-child ı -8 sola götür twett texi ile iconlarımız hizalansın */
.footerButton{
    flex:1;
    display: flex;
    align-items: center;
     color: var(--c-gray) ;

     >span{
         font-size: 0.9em;

     }

     &:first-child{
         margin-left:-8px;
     }
}

/* color: inherit dedik button üst kapsayıcısından rengi alsın yani footerbuttonın colorından */
.actionsButton{
   color:inherit;

    svg{
        font-size:19px;
    }

    
}
