.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);

  :global(html.light) & {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.modal {
  display: grid;
  grid-template-areas: 'avatar body';
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
  padding: 30px;
  border-bottom: 1px solid var(--c-border-color);
  background-color: var(--c-primary);
  border-radius: 20px;
  width: 100%;
  max-width:600px;
}

.avatar {
  grid-area: body;
}

.body {
  grid-area: body;
}

/* //inputa tıkladığında fokus olayını kaldırı outline=0 */
.textarea {
  resize: none;
  outline: 0;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: transparent;
  width: 100%;
}

.footer{
  
  justify-content: flex-end;
}

.close{
  color: var(--c-gray);
}