.container {
   padding: 20px;
  
 
}
.label{
    display: inline-flex;
    align-items: center;
      margin-right: 10px;

      input[type='radio']{
       font-size: 20px;
       width:1em;
       height:1em;
         margin-right: 10px;
     
       
   }
    
}